
<div class="container">
  <h1 class="text-center text-primary mr-5 my-5"><%= @user.username %></h1>
  <div class="row border border-primary py-3">
    <div class="container col">
      <ul class="list-unstyled text-left">
        <h3>Upcoming events: <%=  @events.upcoming.count %></h3>
        <% @events.upcoming.each do |event| %>
          <li class="h5 ml-2 text-success"><%= link_to "#{event.location}", event_path(event) %></li>  
        <% end %>
        
      </ul> 
    </div>

    <div class="container col">
      <ul class="list-unstyled text-left">
        <h3>Past events: <%= @events.past.count %></h3>
        <% @events.past.each do |event| %>
          <li class="h5 ml-2 text-success"><%= link_to "#{event.location}", event_path(event) %></li>  
        <% end %>
        
      </ul>
    </div>
  </div>
</div>