
<div class="container">
  <h2 class="text-center text-primary mr-5"><%= @user.username %></h2>
  <div class="row">
    <div class="container col">
      <ul class="list-unstyled text-left">
        <h3>Future events: <%=  @user.future_events.count %></h3>
        <% @user.future_events.each do |event| %>
          <li class="h5 ml-2 text-success"><%= link_to "#{event.location}", event_path(event) %></li>  
        <% end%>
        
      </ul> 
    </div>

    <div class="container col">
      <ul class="list-unstyled text-left">
        <h3>Past events: <%=  @user.past_events.count %></h3>
        <% @user.past_events.each do |event| %>
          <li class="h5 ml-2 text-success"><%= link_to "#{event.location}", event_path(event) %></li>  
        <% end%>
        
      </ul>
    </div>
  </div>
</div>