<%= link_to 'Back to Events', events_path, class:"btn btn-info ml-4"%>
<div class="container text-center">
  
  <div class="card my-4">
    <div class="card-header">
      <p><%= @event.date %><p>
      <p class="text-success h3"><%= distance_of_time_in_words(@event.date, Time.now, include_seconds: true).titleize %> from now</p>
      <h6 class="card-info text-info text-right">Created by <%= link_to "#{@event.creator.username}", @event.creator %></h6>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @event.location %></h5>
      <p class="card-text"><%= @event.description %></p>
    </div>
  </div>
  <ul class="text-left list-unstyled">
    <h3 class="text-info">Currently <%= @event.attendees.count %> people attending: </h3>
    <% @event.attendees.each do |attendee| %>
      <li><%= link_to "#{attendee.username}", user_path(attendee) %></li>
    <% end %>
    
  </ul>
</div>